.node-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.node-container-partitioned {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.divider {
    background-image: url("/partition.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
}