.server-container-green {
    background-color: green;
    border: 2px solid black;
    padding: 20px;
}

.server-container-grey {
    background-color: grey;
    border: 1em;
    border-color: black;
    border: 2px solid black;
    padding: 20px;

}